name: Build and deploy Python project to Azure Function App - ismart-data-pipeline-func

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.11'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -t "./.python_packages/lib/site-packages"

      - name: Prepare ZIP package
        run: |
          zip -r release.zip . \
            -x "venv/*" \
            -x ".github/*" \
            -x ".git/*"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: artifact

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'ismart-data-pipeline-func'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_D8EF0F400F36466B81A8914FC79AF975 }}
          package: release.zip
